<div
  class="flex items-center justify-center w-full h-screen overflow-hidden bg-cover bg-center bg-no-repeat"
  [style.background-image]="'url(assets/images/auth-bg.jpg)'">
  <div class="bg-white shadow-lg max-w-[400px] w-full p-10 rounded-xl">
    <div class="flex justify-center items-center gap-1 select-none shrink-0">
      <img class="h-10 w-auto" src="assets/logo.svg" />
      <span class="text-3xl font-bold text-slate-800">VPS</span>
    </div>
    <div class="py-5">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
