<app-dialog-layout
  #dialogLayout
  width="400px"
  (onClose)="eventDetector.detectChanges()"
  caption="Video Details"
  height="auto"
  onCloseRoute="../">
  <div *ngIf="video$ | async as video" class="flex flex-col gap-3">
    <div class="w-full w-full aspect-video relative">
      <app-video-player
        [videoSrc]="video.videoFile | storageFileUrl"
        class="block w-full h-full">
      </app-video-player>
      <app-video-menu
        [video]="video"
        class="absolute top-2 right-2"
        elementClass="text-white"
        [channel]="video.channel"
        (afterCompile)="markAsChanged()"
        (afterDelete)="closeDialog()"
        (afterPublish)="markAsChanged()">
      </app-video-menu>
    </div>

    <div class="grid grid-cols-2 gap-1">
      <div class="text-sm text-slate-500 font-semibold">Status</div>
      <div class="text-md text-slate-600 flex justify-start">
        <span
          [ngClass]="video | videoStatusBg"
          class="text-base text-white px-2 py-1 rounded flex items-center justify-center">
          {{ video | videoStatusText }}
        </span>
      </div>
    </div>

    <div *ngIf="video.publishedAt" class="grid grid-cols-2 gap-1">
      <div class="text-sm text-slate-500 font-semibold">Published</div>
      <div class="text-md text-slate-600">
        {{ video.publishedAt | date: 'medium' }}
      </div>
    </div>

    <div class="grid grid-cols-2 gap-1">
      <div class="text-sm text-slate-500 font-semibold">Created</div>
      <div class="text-md text-slate-600">
        {{ video.createdAt | date: 'medium' }}
      </div>
    </div>

    <div class="grid grid-cols-2 gap-1">
      <div class="text-sm text-slate-500 font-semibold">Resolution</div>
      <div class="text-md text-slate-600">
        {{ video.width }}x{{ video.height }}
      </div>
    </div>

    <div class="grid grid-cols-2 gap-1">
      <div class="text-sm text-slate-500 font-semibold">Scenes</div>
      <div class="text-sm text-primary-500 underline">
        <a [queryParams]="{ videoId: video.id }" routerLink="/scenes">
          View Scenes
        </a>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-1">
      <div class="text-sm text-slate-500 font-semibold">Job</div>
      <div class="text-sm text-primary-500 underline">
        <a [queryParams]="{ videoId: video.id }" routerLink="/jobs">
          View Job
        </a>
      </div>
    </div>
  </div>
</app-dialog-layout>
