<div *ngIf="channel$ | async as channel" class="flex flex-col gap-4">
  <div class="flex items-center justify-between">
    <div class="flex items-center gap-2">
      <app-avatar [name]="channel.name" roundedClass="rounded" [size]="80">
      </app-avatar>
      <div class="flex flex-col">
        <h1 class="text-3xl font-bold text-slate-900">
          {{ channel.name }}
        </h1>
        <span class="text-base font-medium text-slate-600">
          {{ publishedVideosAmount$ | async }} published videos
        </span>
      </div>
    </div>
    <app-channel-menu [channel]="channel" (afterDelete)="syncChannels()">
    </app-channel-menu>
  </div>
  <mat-divider></mat-divider>
  <router-outlet></router-outlet>
</div>
