<div class="p-4 h-screen">
  <div
    *ngIf="resources$ | async as resources"
    class="h-full flex flex-col rounded-md overflow-hidden">
    <div class="h-full overflow-auto bg-white">
      <table mat-table class="w-full" [dataSource]="resources[0]">
        <ng-container matColumnDef="resource">
          <th
            *matHeaderCellDef
            mat-header-cell
            class="font-bold text-slate-900 text-md border-none">
            Resource
          </th>
          <td *matCellDef="let element" mat-cell class="border-none py-2">
            <div class="flex justify-start">
              <div class="py-2 px-4 rounded-md bg-primary-50">
                <h4 class="text-base font-medium text-slate-800">
                  Resource #{{ element.id }}
                </h4>
                <small class="text-sm text-slate-600">
                  {{ element.createdAt | date: 'd MMM yyyy HH:mm' }}
                </small>
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th
            *matHeaderCellDef
            mat-header-cell
            class="font-bold text-slate-900 text-md border-none">
            Status
          </th>
          <td *matCellDef="let element" mat-cell class="border-none">
            <div class="flex items-start">
              <span
                [ngClass]="element | resourceStatusBg"
                class="text-base text-white px-2 py-1 rounded flex items-center justify-center">
                {{ element | resourceStatusText }}
              </span>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th *matHeaderCellDef mat-header-cell class="w-10 border-none">
            <button
              mat-icon-button
              matTooltip="Upload Resource"
              class="text-slate-900"
              routerLink="create">
              <mat-icon>file_upload</mat-icon>
            </button>
          </th>
          <td *matCellDef="let element" mat-cell class="border-none">
            <app-resource-menu
              [resource]="element"
              (afterDelete)="syncResources()"
              (afterExtract)="syncResources()"
              (click)="$event.stopPropagation()">
            </app-resource-menu>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="columns; sticky: true" mat-header-row></tr>
        <tr
          *matRowDef="let row; columns: columns"
          mat-row
          class="odd:bg-slate-50 hover:bg-slate-100"
          [routerLink]="row.id"></tr>
      </table>
    </div>

    <mat-paginator
      class="shrink-0"
      [length]="resources[1]"
      [pageIndex]="pagination$.value.pageIndex"
      [pageSize]="pagination$.value.pageSize"
      [pageSizeOptions]="[5, 10, 25]"
      (page)="pagination$.next($event)">
    </mat-paginator>
  </div>
</div>

<router-outlet></router-outlet>
