<app-dialog-layout
  width="100vw"
  caption="Verify Resource"
  height="100vh"
  onCloseRoute="../../">
  <ng-container *ngIf="resource$ | async as resource">
    <div class="grid grid-cols-12 grid-rows-6 gap-4 h-[calc(100%-52px)]">
      <div class="col-span-9 row-span-4">
        <div class="h-full flex flex-col gap-2">
          <app-video-player
            [videoSrc]="selectedScene?.videoFile | storageFileUrl"
            class="block w-full h-full">
          </app-video-player>
          <div class="flex items-center justify-between gap-2 shrink-0">
            <button
              mat-button
              (click)="onSceneDelete(selectedScene)"
              color="warn">
              Delete
              <mat-icon class="text-lg leading-none w-4 h-4">delete</mat-icon>
            </button>
            <button
              mat-button
              class="text-success-500"
              (click)="onSceneApprove(selectedScene)">
              Approve
              <mat-icon class="text-lg leading-none w-4 h-4">verified</mat-icon>
            </button>
            <button
              mat-button
              [disabled]="selectedSceneInMergeList"
              (click)="onSceneMerge(selectedScene)"
              color="primary">
              Merge
              <mat-icon class="text-lg leading-none w-4 h-4">
                arrow_forward
              </mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="col-span-3 row-span-4">
        <div class="h-full flex flex-col gap-3 overflow-hidden">
          <div
            class="h-full flex flex-col gap-1 overflow-y-auto overflow-x-hidden">
            <div
              *ngFor="let scene of mergedScenes"
              class="aspect-video cursor-grab w-full relative"
              (click)="onSceneClick(scene)">
              <button
                mat-icon-button
                class="absolute top-1 right-1 cursor-pointer bg-white text-black w-6 h-6 flex items-center justify-center"
                (click)="$event.stopPropagation(); onSceneMergeRevert(scene)">
                <mat-icon class="text-lg leading-none w-4 h-4">undo</mat-icon>
              </button>
              <img
                class="w-full h-full object-cover"
                [src]="scene.imageFile | storageFileUrl" />
            </div>
          </div>
          <button
            mat-flat-button
            class="w-full text-white bg-primary-500 h-14 shrink-0"
            (click)="onScenesMerge(resource)">
            Merge Scenes
          </button>
        </div>
      </div>
      <div class="col-span-12 row-span-2">
        <div class="flex flex-col justify-end h-full">
          <div class="flex justify-end shrink-0">
            <mat-slider
              #slider
              class="w-1/4"
              [max]="300"
              [min]="50"
              [step]="1"
              [value]="50">
            </mat-slider>
          </div>
          <div
            class="h-full flex gap-1 overflow-x-auto overflow-y-hidden"
            (cdkDropListDropped)="handleReorder(listScenes, $event)"
            cdkDropList
            cdkDropListOrientation="horizontal">
            <div
              *ngFor="let scene of listScenes"
              [style.width.px]="slider.value"
              [ngClass]="{
                'border-4 border-accent-500': scene.id === selectedScene?.id
              }"
              cdkDragPreviewClass="shadow"
              class="shrink-0 cursor-grab"
              (click)="onSceneClick(scene)"
              cdkDrag>
              <img
                class="w-full h-full object-cover"
                [src]="scene.imageFile | storageFileUrl" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</app-dialog-layout>
