<h2 class="text-lg font-medium text-slate-700 mb-2">Jobs</h2>
<div class="grid grid-cols-4">
  <div class="flex flex-col items-start">
    <h1 class="text-3xl font-bold text-primary-500">
      {{ processing | number }}
    </h1>
    <small class="text-base text-slate-500">Processing</small>
  </div>
  <div class="flex flex-col items-start">
    <h1 class="text-3xl font-bold text-slate-500">
      {{ queued | number }}
    </h1>
    <small class="text-base text-slate-500">In Queue</small>
  </div>
  <div class="flex flex-col items-start">
    <h1 class="text-3xl font-bold text-warn-500">
      {{ failed }}
    </h1>
    <small class="text-base text-slate-500">Failed</small>
  </div>
  <div class="flex flex-col items-start">
    <h1 class="text-3xl font-bold text-success-500">
      {{ done }}
    </h1>
    <small class="text-base text-slate-500">Done</small>
  </div>
</div>
