<div class="p-4 h-screen">
  <div
    *ngIf="scenes$ | async as scenes"
    class="h-full flex flex-col rounded-md overflow-hidden">
    <div class="h-full overflow-auto bg-white">
      <table mat-table class="w-full" [dataSource]="scenes[0]">
        <ng-container matColumnDef="image">
          <th
            *matHeaderCellDef
            mat-header-cell
            class="font-bold text-slate-900 text-md border-none">
            Preview
          </th>
          <td *matCellDef="let element" mat-cell class="border-none py-1">
            <div class="aspect-video w-24 relative">
              <img
                class="w-full h-full object-cover"
                [src]="element.imageFile | storageFileUrl" />
              <span
                *ngIf="element.duration"
                class="absolute bottom-1 right-1 bg-slate-900 bg-opacity-70 text-slate-50 text-xs p-0.5 rounded-sm">
                {{
                  element.duration * 1000
                    | formatMilliseconds
                      : { colonNotation: true, secondsDecimalDigits: 0 }
                }}
              </span>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="size">
          <th
            *matHeaderCellDef
            mat-header-cell
            class="font-bold text-slate-900 text-md border-none">
            Size
          </th>
          <td *matCellDef="let element" mat-cell class="border-none">
            {{ element.videoFile?.size | formatBytes }}
          </td>
        </ng-container>

        <ng-container matColumnDef="verifiedAt">
          <th
            *matHeaderCellDef
            mat-header-cell
            class="font-bold text-slate-900 text-md border-none">
            Verified
          </th>
          <td *matCellDef="let element" mat-cell class="border-none">
            {{ (element.verifiedAt | date) || 'N/A' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="createdAt">
          <th
            *matHeaderCellDef
            mat-header-cell
            class="font-bold text-slate-900 text-md border-none">
            Created
          </th>
          <td *matCellDef="let element" mat-cell class="border-none">
            {{ element.createdAt | date }}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th *matHeaderCellDef mat-header-cell class="w-10 border-none"></th>
          <td *matCellDef="let element" mat-cell class="border-none">
            <app-scene-menu
              [scene]="element"
              (afterDelete)="syncScenes()"
              (afterUnVerify)="syncScenes()"
              (afterVerify)="syncScenes()"
              (click)="$event.stopPropagation()">
            </app-scene-menu>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="columns; sticky: true" mat-header-row></tr>
        <tr
          *matRowDef="let row; columns: columns"
          mat-row
          class="odd:bg-slate-50 hover:bg-slate-100"
          [routerLink]="row.id"></tr>
      </table>
    </div>

    <mat-paginator
      class="shrink-0"
      [length]="scenes[1]"
      [pageIndex]="pagination$.value.pageIndex"
      [pageSize]="pagination$.value.pageSize"
      [pageSizeOptions]="[5, 10, 25]"
      (page)="pagination$.next($event)">
    </mat-paginator>
  </div>
</div>

<router-outlet></router-outlet>
