<app-dialog-layout
  width="100vw"
  caption="Job Logs"
  height="100vh"
  onCloseRoute="../">
  <div
    *ngIf="job$ | async as job"
    class="flex flex-col gap-1 p-4 bg-slate-900 text-slate-50 mt-2">
    <div
      *ngFor="let log of job.logs?.sort(sortLogFn)"
      class="grid grid-cols-12">
      <div class="col-span-1">
        <mat-icon [ngClass]="log | jobLogColor">
          {{ log | jobLogIcon }}
        </mat-icon>
      </div>
      <div class="col-span-9">
        <span class="font-mono text-sm">{{ log.message }}</span>
      </div>
      <div class="col-span-2">
        <span class="font-mono text-sm">
          {{ log.createdAt | date: 'M/d/yy, h:mm:ss' }}
        </span>
      </div>
    </div>
  </div>
</app-dialog-layout>
