<ng-container *ngIf="channel && canDeleteChannel(channel)">
  <button mat-icon-button [class]="elementClass" [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #menu>
    <button
      *ngIf="canDeleteChannel(channel)"
      mat-menu-item
      (click)="onDelete(channel)">
      <mat-icon class="text-warn-500">delete</mat-icon>
      <span class="text-warn-500">Delete</span>
    </button>
  </mat-menu>
</ng-container>
