<div class="p-5 grid grid-cols-12 gap-3">
  <ng-container *ngIf="dashboard$ | async as db">
    <app-dashboard-jobs
      class="col-span-6 bg-white rounded p-5"
      [done]="db.jobsDoneAmount"
      [failed]="db.jobsFailedAmount"
      [processing]="db.jobsProcessingAmount"
      [queued]="db.jobsInQueueAmount">
    </app-dashboard-jobs>
    <app-dashboard-videos
      class="col-span-6 bg-white rounded p-5"
      [amount]="db.videosAllAmount"
      [duration]="db.videosAllDuration"
      [size]="db.videosAllSize">
    </app-dashboard-videos>
    <app-dashboard-resources
      class="col-span-4 bg-white rounded p-5"
      [amount]="db.resourcesAllAmount"
      [processedPercentage]="
        db.resourcesProcessedAmount / db.resourcesAllAmount || 0
      "
      [size]="db.resourcesAllSize">
    </app-dashboard-resources>
    <app-dashboard-scenes
      class="col-span-8 bg-white rounded p-5"
      [amount]="db.scenesAllAmount"
      [duration]="db.scenesAllDuration"
      [size]="db.scenesAllSize"
      [usedPercentage]="db.scenesUsedAmount / db.scenesAllAmount || 0"
      [verifiedPercentage]="db.scenesVerifiedAmount / db.scenesAllAmount || 0">
    </app-dashboard-scenes>
  </ng-container>
</div>
