<ng-container *ngIf="job && canRetryJob(job)">
  <button mat-icon-button [class]="elementClass" [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #menu>
    <button *ngIf="canRetryJob(job)" mat-menu-item (click)="onRetry(job)">
      <mat-icon>refresh</mat-icon>
      <span>Retry</span>
    </button>
  </mat-menu>
</ng-container>
