<ng-container
  *ngIf="
    resource &&
    (canExtractResource(resource) ||
      canVerifyResource(resource) ||
      canDeleteResource(resource))
  ">
  <button mat-icon-button [class]="elementClass" [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #menu>
    <button
      *ngIf="canExtractResource(resource)"
      mat-menu-item
      class="w-full"
      (click)="onExtract(resource)">
      <mat-icon>switch_access_shortcut_add</mat-icon>
      <span>Extract</span>
    </button>
    <button
      *ngIf="canVerifyResource(resource)"
      mat-menu-item
      class="w-full"
      routerLink="/resources/{{ resource.id }}/verify">
      <mat-icon>assistant_direction</mat-icon>
      <span>Verify</span>
    </button>
    <button
      *ngIf="canDeleteResource(resource)"
      mat-menu-item
      (click)="onDelete(resource)">
      <mat-icon class="text-warn-500">delete</mat-icon>
      <span class="text-warn-500">Delete</span>
    </button>
  </mat-menu>
</ng-container>
