<ng-container *ngIf="channel$ | async as channel">
  <div
    *ngIf="videos$ | async as res"
    class="bg-white rounded h-full overflow-auto">
    <ng-container *ngIf="res[1]; else noVideosTpl">
      <table mat-table class="w-full" [dataSource]="res[0]">
        <ng-container matColumnDef="video">
          <th
            *matHeaderCellDef
            mat-header-cell
            class="font-bold text-slate-900 text-md">
            Video
          </th>
          <td *matCellDef="let element" mat-cell class="py-2">
            <div class="flex items-center gap-3">
              <div class="aspect-video w-32 relative">
                <img
                  class="w-full h-full object-cover"
                  [src]="element.thumbnail?.file | storageFileUrl" />
                <span
                  *ngIf="element.duration"
                  class="absolute bottom-1 right-1 bg-slate-900 bg-opacity-70 text-slate-50 text-xs p-0.5 rounded-sm">
                  {{
                    element.duration * 1000
                      | formatMilliseconds
                        : { colonNotation: true, secondsDecimalDigits: 0 }
                  }}
                </span>
              </div>

              <div class="flex flex-col w-60">
                <h4 class="truncate text-base font-medium text-slate-800">
                  {{ channel.name }} #{{ element.id }}
                </h4>
                <p class="text-sm text-slate-600">
                  {{ element.createdAt | date: 'd MMM yyyy HH:mm' }}
                </p>
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th
            *matHeaderCellDef
            mat-header-cell
            class="font-bold text-slate-900 text-md">
            Status
          </th>
          <td *matCellDef="let element" mat-cell class="py-2">
            <div class="flex items-start">
              <span
                [ngClass]="element | videoStatusBg"
                class="text-base text-white px-2 py-1 rounded flex items-center justify-center">
                {{ element | videoStatusText }}
              </span>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th *matHeaderCellDef mat-header-cell class="w-10">
            <button
              mat-icon-button
              matTooltip="Create Video"
              class="text-slate-900"
              routerLink="create">
              <mat-icon>add</mat-icon>
            </button>
          </th>
          <td *matCellDef="let element" mat-cell>
            <app-video-menu
              [video]="element"
              [channel]="channel"
              (afterCompile)="syncVideos()"
              (afterDelete)="syncVideos()"
              (afterPublish)="syncVideos()"
              (click)="$event.stopPropagation()">
            </app-video-menu>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="columns" mat-header-row></tr>
        <tr
          *matRowDef="let row; columns: columns"
          mat-row
          [routerLink]="row.id"></tr>
      </table>

      <mat-paginator
        [length]="res[1]"
        [pageIndex]="pagination$.value.pageIndex"
        [pageSize]="pagination$.value.pageSize"
        [pageSizeOptions]="[5, 10, 25]"
        (page)="pagination$.next($event)">
      </mat-paginator>
    </ng-container>

    <ng-template #noVideosTpl>
      <div class="h-full p-8 flex flex-col gap-2 items-center justify-center">
        <img
          class="w-96"
          alt="No Videos"
          src="assets/illustrations/videos.svg" />
        <p class="text-slate-500 text-base font-normal italic">
          You have no videos on this channel yet
        </p>
        <button mat-button color="primary" routerLink="create">
          <mat-icon>add</mat-icon>
          Create first video
        </button>
      </div>
    </ng-template>
  </div>

  <router-outlet></router-outlet>
</ng-container>
