<div
  class="sidebar-scrollbar h-screen overflow-x-hidden overflow-y-auto bg-slate-900">
  <div class="p-4 flex items-center text-slate-500">
    <img class="h-10 w-auto" alt="Logo Image" src="assets/logo.svg" />
    <button mat-icon-button class="ml-auto">
      <mat-icon>fullscreen</mat-icon>
    </button>
    <button
      mat-icon-button
      class="flex items-center justify-center"
      (click)="onLogout.emit()">
      <mat-icon class="flex items-center justify-center text-2xl">
        logout
      </mat-icon>
    </button>
  </div>

  <div class="p-4 flex flex-col items-center justify-center">
    <app-avatar
      [size]="96"
      image="https://img.freepik.com/free-photo/dreamy-young-woman-sunglasses-looking-front_197531-16739.jpg?w=2000">
    </app-avatar>
    <p class="mt-4 text-slate-100 text-base font-medium">
      {{ userProfile?.email }}
    </p>
  </div>

  <div class="py-6 px-3 flex flex-col gap-4">
    <div *ngFor="let menu of menus">
      <div class="px-4 flex flex-col">
        <h4 class="uppercase text-primary-400 font-bold text-sm">
          {{ menu.caption }}
        </h4>
        <small class="text-xs text-slate-400 font-medium">
          {{ menu.description }}
        </small>
      </div>
      <ul class="pt-2">
        <li
          *ngFor="let item of menu.items"
          class="px-4 flex items-center gap-4 mb-1 h-11 cursor-pointer text-slate-300 rounded-md hover:bg-slate-800 hover:text-slate-50 transition-all"
          [routerLink]="item.routerLink"
          routerLinkActive="bg-slate-800 text-slate-50">
          <mat-icon>{{ item.icon }}</mat-icon>
          <span class="text-md font-medium">{{ item.label }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
