<ng-template #template>
  <div class="flex items-center justify-between pb-3 gap-5">
    <h1 class="text-3xl font-bold text-slate-700">{{ caption }}</h1>
    <button mat-icon-button class="text-slate-500" (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <ng-content></ng-content>
</ng-template>
