<app-dialog-layout
  #dialogLayout
  width="400px"
  (onClose)="eventDetector.detectChanges()"
  caption="Upload Thumbnails"
  height="auto"
  onCloseRoute="../">
  <div class="w-full flex flex-col">
    <input #filePicker accept="image/jpeg" multiple type="file" />
  </div>

  <button
    mat-stroked-button
    class="w-full h-12 mt-5"
    [disabled]="isUploading"
    (click)="onSubmit(filePicker)"
    color="primary">
    <div class="w-full h-full flex items-center justify-center gap-3">
      {{ isUploading ? 'Uploading Thumbnails...' : 'Upload Thumbnails' }}
      <mat-progress-spinner
        *ngIf="isUploading"
        [diameter]="20"
        color="primary"
        mode="indeterminate">
      </mat-progress-spinner>
    </div>
  </button>
</app-dialog-layout>
