<div [style.width.px]="size" [class]="roundedClass" [style.height.px]="size">
  <div
    *ngIf="image?.length; else initials"
    [class]="roundedClass"
    class="w-full h-full bg-cover bg-center bg-no-repeat"
    [style.backgroundImage]="'url(' + image + ')'"></div>

  <ng-template #initials>
    <div
      *ngIf="name?.split(' ') as fullName"
      [class]="roundedClass"
      class="w-full h-full flex items-center justify-center bg-primary-50 text-slate-800 font-bold"
      [style.fontSize.px]="size / 2.7">
      <ng-container *ngIf="fullName[0] as firstName">{{
        firstName.charAt(0).toUpperCase()
      }}</ng-container>
      <ng-container *ngIf="fullName[1] as lastName">{{
        lastName.charAt(0).toUpperCase()
      }}</ng-container>
    </div>
  </ng-template>
</div>
