<ng-container *ngIf="!hasError; else errorTpl">
  <video #videoElement class="w-full h-full bg-black" controls>
    <source [src]="videoSrc" (error)="hasError = true" type="video/mp4" />
  </video>
</ng-container>

<ng-template #errorTpl>
  <div
    class="w-full h-full bg-slate-900 flex items-center justify-center text-slate-100 font-medium text-base">
    Video not found
  </div>
</ng-template>
