<div class="p-4 h-screen">
  <div
    *ngIf="jobs$ | async as jobs"
    class="h-full flex flex-col rounded-md overflow-hidden">
    <div class="h-full overflow-auto bg-white">
      <table mat-table class="w-full" [dataSource]="jobs[0]">
        <ng-container matColumnDef="id">
          <th
            *matHeaderCellDef
            mat-header-cell
            class="font-bold text-slate-900 text-md border-none">
            ID
          </th>
          <td *matCellDef="let element" mat-cell class="border-none">
            {{ element.id }}
          </td>
        </ng-container>
        <ng-container matColumnDef="type">
          <th
            *matHeaderCellDef
            mat-header-cell
            class="font-bold text-slate-900 text-md border-none">
            Type
          </th>
          <td *matCellDef="let element" mat-cell class="border-none">
            {{ element | jobType }}
          </td>
        </ng-container>
        <ng-container matColumnDef="startedAt">
          <th
            *matHeaderCellDef
            mat-header-cell
            class="font-bold text-slate-900 text-md border-none">
            Started
          </th>
          <td *matCellDef="let element" mat-cell class="border-none">
            {{ element.startedAt | date: 'medium' }}
          </td>
        </ng-container>
        <ng-container matColumnDef="duration">
          <th
            *matHeaderCellDef
            mat-header-cell
            class="font-bold text-slate-900 text-md border-none">
            Duration
          </th>
          <td *matCellDef="let element" mat-cell class="border-none">
            {{ (element | jobDuration | formatMilliseconds) || '-' }}
          </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th
            *matHeaderCellDef
            mat-header-cell
            class="font-bold text-slate-900 text-md border-none">
            Status
          </th>
          <td *matCellDef="let element" mat-cell class="border-none">
            <span
              [ngClass]="element | jobStatusBg"
              class="px-2 py-1 text-base rounded text-white capitalize">
              {{ element.status }}
            </span>
          </td>

          <ng-container matColumnDef="createdAt">
            <th
              *matHeaderCellDef
              mat-header-cell
              class="font-bold text-slate-900 text-md border-none">
              Created
            </th>
            <td *matCellDef="let element" mat-cell class="border-none">
              {{ element.createdAt | date: 'medium' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th *matHeaderCellDef mat-header-cell class="w-10 border-none"></th>
            <td *matCellDef="let element" mat-cell class="border-none">
              <app-job-menu
                [job]="element"
                (afterRetry)="syncJobs()"
                (click)="$event.stopPropagation()">
              </app-job-menu>
            </td>
          </ng-container>
        </ng-container>

        <tr *matHeaderRowDef="columns; sticky: true" mat-header-row></tr>
        <tr
          *matRowDef="let row; columns: columns"
          mat-row
          class="odd:bg-slate-50 hover:bg-slate-100"
          [routerLink]="row.id"></tr>
      </table>
    </div>

    <mat-paginator
      class="shrink-0"
      [length]="jobs[1]"
      [pageIndex]="pagination$.value.pageIndex"
      [pageSize]="pagination$.value.pageSize"
      [pageSizeOptions]="[5, 10, 25]"
      (page)="pagination$.next($event)">
    </mat-paginator>
  </div>
</div>

<router-outlet></router-outlet>
