<ng-container
  *ngIf="
    scene &&
    (canMarkVerifiedScene(scene) ||
      canMarkUnVerifiedScene(scene) ||
      canDeleteScene(scene))
  ">
  <button mat-icon-button [class]="elementClass" [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #menu>
    <button
      *ngIf="canMarkVerifiedScene(scene)"
      mat-menu-item
      (click)="onMarkAsVerified(scene)">
      <mat-icon>verified</mat-icon>
      <span>Mark as Verified</span>
    </button>
    <button
      *ngIf="canMarkUnVerifiedScene(scene)"
      mat-menu-item
      (click)="onMarkAsUnVerified(scene)">
      <mat-icon>cancel</mat-icon>
      <span>Mark as Unverified</span>
    </button>
    <button
      *ngIf="canDeleteScene(scene)"
      mat-menu-item
      (click)="onDelete(scene)">
      <mat-icon class="text-warn-500">delete</mat-icon>
      <span class="text-warn-500">Delete</span>
    </button>
  </mat-menu>
</ng-container>
