<h1 class="text-2xl font-bold text-slate-700">{{ data.caption }}</h1>
<p class="text-base font-normal text-slate-500">{{ data.description }}</p>
<div class="flex items-center justify-end gap-3 pt-1">
  <button mat-button [mat-dialog-close]="false">
    {{ data.declineBtn || 'No' }}
  </button>
  <button mat-flat-button [mat-dialog-close]="true" color="warn">
    {{ data.acceptBtn || 'Yes' }}
  </button>
</div>
