<mat-drawer-container class="h-full w-full">
  <mat-drawer #drawer class="w-72" [(opened)]="sidebarOpened" mode="side">
    <app-main-sidebar
      [userProfile]="userProfile$ | async"
      (onLogout)="onLogout()">
    </app-main-sidebar>
  </mat-drawer>
  <mat-drawer-content class="bg-slate-100">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

<button
  mat-icon-button
  class="fixed left-7 bottom-6 bg-primary-500 text-white z-10"
  (click)="drawer.toggle()">
  <mat-icon [class.rotate-180]="!drawer.opened" class="transition-all">
    chevron_left
  </mat-icon>
</button>
