<ng-container
  *ngIf="
    video &&
    (canPublishVideo(video) || canCompileVideo(video) || canDeleteVideo(video))
  ">
  <button mat-icon-button [class]="elementClass" [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #menu>
    <button
      *ngIf="canDownloadVideo(video)"
      mat-menu-item
      (click)="onDownload(video)">
      <mat-icon>download</mat-icon>
      <span>Download</span>
    </button>
    <button
      *ngIf="canPublishVideo(video)"
      mat-menu-item
      (click)="onPublish(video)">
      <mat-icon>publish</mat-icon>
      <span>Publish</span>
    </button>
    <button
      *ngIf="canCompileVideo(video)"
      mat-menu-item
      (click)="onCompile(video)">
      <mat-icon>not_started</mat-icon>
      <span>Compile</span>
    </button>
    <button
      *ngIf="canDeleteVideo(video)"
      mat-menu-item
      (click)="onDelete(video)">
      <mat-icon class="text-warn-500">delete</mat-icon>
      <span class="text-warn-500">Delete</span>
    </button>
  </mat-menu>
</ng-container>
