<app-dialog-layout
  #dialogLayout
  width="400px"
  (onClose)="eventDetector.detectChanges()"
  caption="Resource Details"
  height="auto"
  onCloseRoute="../">
  <div *ngIf="resource$ | async as resource" class="flex flex-col gap-3">
    <div class="w-full aspect-video relative">
      <app-video-player
        [videoSrc]="resource.videoFile | storageFileUrl"
        class="block w-full h-full">
      </app-video-player>
      <app-resource-menu
        class="absolute top-2 right-2"
        elementClass="text-white"
        [resource]="resource"
        (afterDelete)="closeDialog()"
        (afterExtract)="markAsChanged()">
      </app-resource-menu>
    </div>

    <div class="grid grid-cols-2 gap-1">
      <div class="text-sm text-slate-500 font-semibold">Status</div>
      <div class="flex items-center">
        <span
          [ngClass]="resource | resourceStatusBg"
          class="text-md text-white px-2 py-1 rounded flex items-center justify-center">
          {{ resource | resourceStatusText }}
        </span>
      </div>

      <div class="text-sm text-slate-500 font-semibold">Uploaded</div>
      <div class="text-md text-slate-600">
        {{ resource.createdAt | date: 'medium' }}
      </div>

      <ng-container *ngIf="resource.scenes?.length">
        <div class="text-sm text-slate-500 font-semibold">Scenes</div>
        <div class="text-sm text-primary-500 underline">
          <a [queryParams]="{ resourceId: resource.id }" routerLink="/scenes">
            View Scenes ({{ resource.scenes?.length }})
          </a>
        </div>
      </ng-container>

      <ng-container
        *ngIf="{
          hasCompile: resource.compileScenesJobs?.length,
          hasExtract: resource.extractResourceJob
        } as ctx">
        <ng-container *ngIf="ctx.hasCompile || ctx.hasExtract">
          <div class="text-sm text-slate-500 font-semibold">Jobs</div>
          <div class="text-sm text-primary-500 underline">
            <a
              [queryParams]="{
                compileResourceId: ctx.hasCompile ? resource.id : null,
                extractResourceId: ctx.hasExtract ? resource.id : null
              }"
              routerLink="/jobs">
              View Jobs
            </a>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</app-dialog-layout>

<router-outlet></router-outlet>
