<app-dialog-layout
  #dialogLayout
  width="400px"
  (onClose)="eventDetector.detectChanges()"
  caption="Scene Details"
  height="auto"
  onCloseRoute="../">
  <div *ngIf="scene$ | async as scene" class="flex flex-col gap-3">
    <div class="w-full aspect-video relative">
      <app-video-player
        [videoSrc]="scene.videoFile | storageFileUrl"
        class="block w-full h-full">
      </app-video-player>
      <app-scene-menu
        class="absolute top-2 right-2"
        elementClass="text-white"
        [scene]="scene"
        (afterDelete)="closeDialog()"
        (afterUnVerify)="markAsChanged()"
        (afterVerify)="markAsChanged()">
      </app-scene-menu>
    </div>

    <div class="grid grid-cols-2 gap-1">
      <div class="text-sm text-slate-500 font-semibold">Created</div>
      <div class="text-md text-slate-600">
        {{ scene.createdAt | date: 'medium' }}
      </div>

      <ng-container *ngIf="scene.verifiedAt">
        <div class="text-sm text-slate-500 font-semibold">Verified</div>
        <div class="text-md text-slate-600">
          {{ scene.verifiedAt | date: 'medium' }}
        </div>
      </ng-container>

      <ng-container *ngIf="scene.videoFile">
        <div class="text-sm text-slate-500 font-semibold">Size</div>
        <div class="text-md text-slate-600">
          {{ scene.videoFile.size | formatBytes }}
        </div>
      </ng-container>

      <ng-container *ngIf="scene.resource">
        <div class="text-sm text-slate-500 font-semibold">Resource</div>
        <div class="text-sm text-primary-500 underline">
          <a routerLink="/resources/{{ scene.resource.id }}"> View Resource </a>
        </div>
      </ng-container>
    </div>
  </div>
</app-dialog-layout>
