<h2 class="text-lg font-medium text-slate-700 mb-2">Scenes</h2>
<div class="grid grid-cols-5">
  <div class="flex flex-col items-start">
    <h1 class="text-3xl font-bold text-slate-600">
      {{ verifiedPercentage | percent }}
    </h1>
    <small class="text-base text-slate-500">Verified</small>
  </div>
  <div class="flex flex-col items-start">
    <h1 class="text-3xl font-bold text-slate-600">
      {{ usedPercentage | percent }}
    </h1>
    <small class="text-base text-slate-500">Used</small>
  </div>
  <div class="flex flex-col items-start">
    <h1 class="text-3xl font-bold text-slate-600">
      {{ amount | number }}
    </h1>
    <small class="text-base text-slate-500">Amount</small>
  </div>
  <div class="flex flex-col items-start">
    <h1 class="text-3xl font-bold text-slate-600">
      {{ (duration || 0) * 1000 | formatMilliseconds }}
    </h1>
    <small class="text-base text-slate-500">Duration</small>
  </div>
  <div class="flex flex-col items-start">
    <h1 class="text-3xl font-bold text-slate-600">
      {{ size | formatBytes }}
    </h1>
    <small class="text-base text-slate-500">Size on disk</small>
  </div>
</div>
