<app-dialog-layout
  #dialogLayout
  width="400px"
  (onClose)="eventDetector.detectChanges()"
  caption="Create Video"
  height="auto"
  onCloseRoute="../">
  <div class="flex flex-col" [formGroup]="form">
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Duration (seconds)</mat-label>
      <input
        matInput
        formControlName="duration"
        autocomplete="off"
        type="number" />
      <mat-error *ngIf="form.hasError('required', 'duration')">
        Please enter duration
      </mat-error>
      <mat-error *ngIf="form.hasError('min', 'duration')">
        Minimum value should be 1
      </mat-error>
    </mat-form-field>

    <div class="grid grid-cols-2 gap-2">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Reuse Scenes (days ago)</mat-label>
        <input
          matInput
          formControlName="reuseScenesAfterDays"
          autocomplete="off"
          type="number" />
        <mat-error *ngIf="form.hasError('required', 'reuseScenesAfterDays')">
          Please enter duration
        </mat-error>
        <mat-error *ngIf="form.hasError('min', 'reuseScenesAfterDays')">
          Minimum value should be 0
        </mat-error>
      </mat-form-field>
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Reuse Thumbnails (days ago)</mat-label>
        <input
          matInput
          formControlName="reuseThumbnailAfterDays"
          autocomplete="off"
          type="number" />
        <mat-error *ngIf="form.hasError('required', 'reuseThumbnailAfterDays')">
          Please enter duration
        </mat-error>
        <mat-error *ngIf="form.hasError('min', 'reuseThumbnailAfterDays')">
          Minimum value should be 0
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="flex items-center gap-2">
    <button
      mat-stroked-button
      class="w-full"
      (click)="onSubmit(false)"
      color="primary">
      Create Video
    </button>
    <button
      mat-flat-button
      class="w-full"
      (click)="onSubmit(true)"
      color="primary">
      Create & Compile
    </button>
  </div>
</app-dialog-layout>
