<form class="w-full flex flex-col" [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" />
    <mat-error *ngIf="form.hasError('required', 'email')">
      Please enter your email
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" type="password" />
    <mat-error *ngIf="form.hasError('required', 'password')">
      Please enter your password
    </mat-error>
  </mat-form-field>
</form>
<button
  mat-flat-button
  class="w-full h-12 text-white bg-primary-500"
  (click)="onSubmit()">
  Login
</button>
