<div class="p-4 h-screen">
  <div
    *ngIf="thumbnails$ | async as thumbnails"
    class="h-full flex flex-col rounded-md overflow-hidden">
    <div class="h-14 bg-white flex items-center justify-between px-6 shrink-0">
      <h1 class="font-bold text-slate-900 text-md">Thumbnails</h1>
      <button
        mat-icon-button
        matTooltip="Upload Thumbnails"
        class="text-slate-900"
        routerLink="create">
        <mat-icon>file_upload</mat-icon>
      </button>
    </div>

    <div class="h-full overflow-auto">
      <div class="py-3 grid grid-cols-5 gap-3">
        <div *ngFor="let thumbnail of thumbnails[0]">
          <img
            class="w-full aspect-video object-cover rounded-t"
            [src]="thumbnail.file | storageFileUrl" />
          <div
            class="bg-white p-1 pl-3 rounded-b flex items-center justify-between">
            <div class="flex flex-col">
              <span class="text-sm font-medium text-slate-700">
                {{ thumbnail.createdAt | date }}
              </span>
              <span class="text-xs font-medium text-slate-700">
                {{ thumbnail.file?.size | formatBytes }}
              </span>
            </div>
            <app-thumbnail-menu
              [thumbnail]="thumbnail"
              (afterDelete)="syncScenes()">
            </app-thumbnail-menu>
          </div>
        </div>
      </div>
    </div>

    <mat-paginator
      class="shrink-0"
      [length]="thumbnails[1]"
      [pageIndex]="pagination$.value.pageIndex"
      [pageSize]="pagination$.value.pageSize"
      [pageSizeOptions]="[10, 25, 50]"
      (page)="pagination$.next($event)">
    </mat-paginator>
  </div>
</div>

<router-outlet></router-outlet>
