<app-dialog-layout
  width="400px"
  caption="Job Details"
  height="auto"
  onCloseRoute="../">
  <div *ngIf="job$ | async as job" class="flex flex-col gap-3">
    <div class="grid grid-cols-2 gap-1">
      <div class="text-sm text-slate-500 font-semibold">Status</div>
      <div class="text-sm text-white capitalize">
        <span [ngClass]="job | jobStatusBg" class="px-4 py-1 rounded">
          {{ job.status }}
        </span>
      </div>

      <div class="text-sm text-slate-500 font-semibold">Type</div>
      <div class="text-md text-slate-600">
        {{ job | jobType }}
      </div>

      <div class="text-sm text-slate-500 font-semibold">Created</div>
      <div class="text-md text-slate-600">
        {{ job.createdAt | date: 'medium' }}
      </div>

      <div class="text-sm text-slate-500 font-semibold">Started</div>
      <div class="text-md text-slate-600">
        {{ (job.startedAt | date: 'medium') || 'N/A' }}
      </div>

      <div class="text-sm text-slate-500 font-semibold">Finished</div>
      <div class="text-md text-slate-600">
        {{ (job.finishedAt | date: 'medium') || 'N/A' }}
      </div>

      <div class="text-sm text-slate-500 font-semibold">Duration</div>
      <div class="text-md text-slate-600">
        {{ (job | jobDuration | formatMilliseconds) || '-' }}
      </div>

      <ng-container *ngIf="job.compileVideoJob">
        <div class="text-sm text-slate-500 font-semibold">Video</div>
        <div class="text-sm text-primary-500 underline">
          <a
            routerLink="/channels/{{
              job.compileVideoJob.video?.channel?.id
            }}/videos/{{ job.compileVideoJob.video?.id }}">
            View Video
          </a>
        </div>
      </ng-container>

      <ng-container *ngIf="job.extractResourceJob">
        <div class="text-sm text-slate-500 font-semibold">Resource</div>
        <div class="text-sm text-primary-500 underline">
          <a routerLink="/resources/{{ job.extractResourceJob.resource?.id }}">
            View Resource
          </a>
        </div>
      </ng-container>

      <ng-container *ngIf="job.compileScenesJob">
        <div class="text-sm text-slate-500 font-semibold">Resource</div>
        <div class="text-sm text-primary-500 underline">
          <a routerLink="/resources/{{ job.compileScenesJob.resource?.id }}">
            View Resource
          </a>
        </div>
      </ng-container>

      <ng-container *ngIf="job.logs?.length">
        <div class="text-sm text-slate-500 font-semibold">Logs</div>
        <div class="text-sm text-primary-500 underline">
          <a routerLink="logs"> View Logs ({{ job.logs?.length }}) </a>
        </div>
      </ng-container>
    </div>
  </div>
</app-dialog-layout>

<router-outlet></router-outlet>
