@use '@angular/material' as mat;

@include mat.core();

@include mat.all-component-themes(
  mat.define-light-theme(
    (
      color: (
        primary:
          mat.define-palette(
            (
              50: var(--primary-50),
              100: var(--primary-100),
              200: var(--primary-200),
              300: var(--primary-300),
              400: var(--primary-400),
              500: var(--primary-500),
              600: var(--primary-600),
              700: var(--primary-700),
              800: var(--primary-800),
              900: var(--primary-900),
              A100: var(--primary-200),
              A200: var(--primary-400),
              A400: var(--primary-600),
              A700: var(--primary-900),
              contrast: (
                50: rgba(black, 0.87),
                100: rgba(black, 0.87),
                200: rgba(black, 0.87),
                300: white,
                400: white,
                500: white,
                600: white,
                700: white,
                800: white,
                900: white,
                A100: rgba(black, 0.87),
                A200: white,
                A400: white,
                A700: white,
              ),
            )
          ),
        accent:
          mat.define-palette(
            (
              50: var(--accent-50),
              100: var(--accent-100),
              200: var(--accent-200),
              300: var(--accent-300),
              400: var(--accent-400),
              500: var(--accent-500),
              600: var(--accent-600),
              700: var(--accent-700),
              800: var(--accent-800),
              900: var(--accent-900),
              contrast: (
                50: rgba(black, 0.87),
                100: rgba(black, 0.87),
                200: rgba(black, 0.87),
                300: white,
                400: white,
                500: white,
                600: white,
                700: white,
                800: white,
                900: white,
              ),
            )
          ),
        warn:
          mat.define-palette(
            (
              50: var(--warn-50),
              100: var(--warn-100),
              200: var(--warn-200),
              300: var(--warn-300),
              400: var(--warn-400),
              500: var(--warn-500),
              600: var(--warn-600),
              700: var(--warn-700),
              800: var(--warn-800),
              900: var(--warn-900),
              contrast: (
                50: rgba(black, 0.87),
                100: rgba(black, 0.87),
                200: rgba(black, 0.87),
                300: white,
                400: white,
                500: white,
                600: white,
                700: white,
                800: white,
                900: white,
              ),
            )
          ),
      ),
    )
  )
);
