.sidebar-scrollbar {
  &::-webkit-scrollbar {
    width: 2px;
  }

  &::-webkit-scrollbar-track {
    @apply bg-slate-900;
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-slate-800;
  }
}

.channels-sidebar {
  &::-webkit-scrollbar {
    width: 2px;
  }

  &::-webkit-scrollbar-track {
    @apply bg-white;
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-slate-50;
  }
}

.channel-details-sidebar {
  &::-webkit-scrollbar {
    width: 2px;
  }

  &::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-transparent;
  }
}
