<div
  *ngIf="{ channels: channels$ | async } as ctx"
  class="px-4 h-screen flex gap-4">
  <div
    class="w-full h-full overflow-x-hidden overflow-y-auto channel-details-sidebar py-4">
    <router-outlet></router-outlet>
  </div>

  <div class="w-60 shrink-0 py-4">
    <div class="w-full h-full bg-white rounded p-2 flex flex-col gap-2">
      <div
        class="flex items-center w-full shrink-0"
        [formGroup]="createChannelForm">
        <input
          formControlName="name"
          class="w-full text-base h-10 px-3 outline-primary-500"
          placeholder="Create a new channel..."
          type="text" />
        <button
          mat-icon-button
          matTooltip="Create Channel"
          class="text-slate-600 shrink-0"
          (click)="onChannelCreate()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <ul
        class="flex flex-col gap-1 h-full overflow-x-hidden overflow-y-auto channels-sidebar"
        (cdkDropListDropped)="onChannelsReorder(ctx.channels!, $event)"
        cdkDropList>
        <li
          *ngFor="let channel of ctx.channels"
          cdkDragPreviewClass="shadow"
          class="flex items-center gap-2 p-2 rounded cursor-pointer transition-background [&:not(.bg-primary-100)]:bg-white [&:not(.bg-primary-100)]:hover:bg-slate-100"
          cdkDrag
          routerLink="{{ channel.id }}"
          routerLinkActive="bg-primary-100">
          <app-avatar [name]="channel.name" roundedClass="rounded"></app-avatar>
          <div class="flex flex-col">
            <span class="text-base text-slate-800 font-bold">
              {{ channel.name }}
            </span>
            <small class="text-xs text-slate-500 font-medium">
              Created: {{ channel.createdAt | date: 'd MMM yyyy' }}
            </small>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
